.question-block,
.question-block__container,
.question-block__content {
  height: 100%;
}


.question-block__content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 17px;
  padding: 17px 0 20px;
}

.progressbar {
  justify-self: center;
  width: 80%;
  border-radius: 50px;
}

.progressbar::-webkit-progress-bar {
  border: 0;
  height: 11px;
  border-radius: 11px;
  background-color: #F2F3F3;
}

.progressbar::-webkit-progress-value {
  border: 0;
  height: 11px;
  border-radius: 11px;
  background-color: var(--green);
}


.question {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  height: 90%;
  margin-bottom: 20px;
}

.question__title {
  align-self: center;
  justify-self: center;
  font-family: 'PT Serif';
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--main-text-color);
}

.question__title::first-letter {
  text-transform: uppercase;
}

.radio-list {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 8px;
}


.answer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-list .answer {
  gap: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px var(--main-padding);
  background: rgba(255, 255, 255, 0.15);
  transition: background .3s ease;
}

.circle {
  flex-shrink: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-text-color);
  border-radius: 100%;
  background-color: transparent;
  pointer-events: none;
  transition: background-color .3s ease;
}

.radio-text {
  display: block;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  pointer-events: none;
  transition: color .3s ease;
}

.radio-text::first-letter {
  text-transform: capitalize;
}

.radio-list .radio_active  {
  background: var(--yellow);
}

.radio_active .circle {
  border-color: var(--desc-black);
  background-color: var(--blue);
}

.radio_active .radio-text {
  color: var(--desc-black);
}

.colors-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(75px, 1fr);
  gap: 21px;
}

.colors-list .answer {
  border: 6px solid transparent;
  transition: border-color .3s ease;
}

.colors-list .color_active {
  border-color: var(--yellow);
}

.question__btn {
  justify-self: center;
  align-self: flex-end;
}

.question__img {
  justify-self: center;
  min-height: 115px;
  max-height: 200px;
  object-fit: contain;
}

.btns-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 8px;
}

.btns-list .answer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 41px;
  height: 41px;
  border: 6px solid transparent;
  font-family: PT Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-black);
  background-color: var(--main-text-color);
  transition: border-color .3s ease;
}

.btns-list .btn_active {
  border-color: var(--yellow);
}


.spinner {
  --d:50px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  color: var(--green);
  box-shadow:
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 2px,
    calc(0*var(--d))      calc(1*var(--d))     0 3px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 4px,
    calc(-1*var(--d))     calc(0*var(--d))     0 5px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d)) 0 6px,
    calc(0*var(--d))      calc(-1*var(--d))    0 7px,
    calc(-1*var(--d))     calc(0*var(--d))     0 8px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d)) 0 10px,
    calc(0*var(--d))      calc(-1*var(--d))    0 12px;
  animation: s7 1.4s infinite steps(12);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  height: 100%;
}

.loading__title {
  margin-bottom: 33px;
  font-family: 'PT Serif';
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--main-text-color);
}

.loading__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30%;
}

.loading__define {
  padding: 30px;
  align-self: flex-start;
  font-family: 'PT Serif';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: start;
  color: var(--main-text-color);
}
